@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white antialiased transition-colors duration-300;
    color: #111111;
  }
}

:root {
  --lavender: #e8c0fc;
  --sky: #a8defa;
  --mint: #d0f4e0;
  --lemon: #fcf5bf;
  --rose: #ff99c8;
  --dark: #111111;
  --muted: #666666;
}